.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
}

#sidebar {
  background-color: #2a1f1f !important;
  /* background: var(--bs-dark); */
  transition: all 0.35s ease-in-out;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  width: 250px;
  left: 0;
  z-index: 2;
}

#sidebar::-webkit-scrollbar,
.p-sidebar-content::-webkit-scrollbar {
  width: 12px !important;
}

#sidebar::-webkit-scrollbar-thumb {
  background: #5b6671 !important;
  border-radius: 10px !important;
}

#sidebar::-webkit-scrollbar-track {
  background: rgb(255, 254, 247) !important;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  width: 100%;
}

/* Sidebar Elements Style */

.sidebar-logo {
  padding: 1.15rem;
}

.sidebar-logo a {
  color: #e9ecef;
  font-size: 1.15rem;
  font-weight: 600;
}

.sidebar-nav {
  flex-grow: 1;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 0;
}

.sidebar-header {
  color: #e9ecef;
  font-size: 0.75rem;
  padding: 1.5rem 1.5rem 0.375rem;
}

a.sidebar-link {
  padding: 0.7rem 2rem;
  color: #e9ecef;
  position: relative;
  display: block;
  font-size: 0.925rem;
}

.child {
  margin-left: 35px !important;
}

.sidebar_link li {
  padding: 10px;
  position: relative;
  /* background-color: red; */
  margin: 10px 2px;
  border-radius: 10px;
  text-align: start;
  transition: 0.5 ease-in;
  cursor: pointer;
}

.sidebar_link li a {
  color: #0d6efd !important;
}

.sidebar_link li:hover {
  background-color: rgb(243, 243, 243) !important;
}

.sidebar-link span {
  vertical-align: middle;
  margin-left: 10px;
  top: 1px;
  position: relative;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
  border: solid;
  border-width: 0 0.075rem 0.075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.4rem;
  transform: rotate(-135deg);
  transition: all 0.2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: all 0.2s ease-out;
}

.navbar-expand .navbar-nav {
  margin-left: auto;
}

.content {
  margin-left: 250px;
}

@media (max-width: 768px) {
  .content {
    margin-left: 0px;
  }
}

/* Sidebar Toggle */

#sidebar.collapsed {
  margin-left: -264px;
}

/* Footer and Nav */

@media (max-width: 767.98px) {
  .js-sidebar {
    margin-left: -264px;
  }

  #sidebar.collapsed {
    margin-left: 0;
  }

  .navbar,
  footer {
    width: 100vw;
  }
}

/* Dashboard Sidebar */

.sidebar_link_dashboard li {
  padding: 10px;
  position: relative;
  /* background-color: red; */
  margin: 10px 2px;
  border-radius: 10px;
  text-align: start;
  transition: 0.5 ease-in;
  cursor: pointer;
}

.sidebar_link_dashboard li a {
  color: #0d6efd !important;
}

.sidebar_link_dashboard li:hover {
  background-color: rgb(243, 243, 243) !important;
}

.sidebar-link span {
  vertical-align: middle;
  margin-left: 10px;
  top: 1px;
  position: relative;
}

.navbar-expand{
  padding: 0px !important;
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-row-odd{
  background: #f3f2f2 !important;
}

.p-sidebar{
  background:  #2A1F1F !important
}